@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Nunito', sans-serif;
    margin:0;
    padding: 0;
}
h1{
    /* margin-top: 300px; */
    text-align: center;
    color:blue;
}

.changetowhite{
    color:black;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;

}
.profile {
    padding: 115px;
    margin: 4px 2px;
    border-radius: 50%;
    background-size: 210px 300px;
    border-color: transparent;
   background-image: url("yusunkim2.jpg") ;
}

.cvP{
    padding: 100px;
    margin: 4px 2px;
    margin-left: 20px;
    margin-right: 200px;

    border-radius: 50%;
    background-size: 180px 240px;

   background-image: url("yusunkim2.jpg") ;
}
.redback {
    background-color: white;
    background-repeat: no-repeat;
    background-size: auto 600px;

}

.blueback{
    background: black;
    background-repeat: no-repeat;
    text-align: center;
    color: white;

}
.black{
    background: black;
    color: white;

}
.green{
    background-color: green ;

}
.d{
    display: flex;
    flex-direction: column;
    position: relative;
    
}


.greenback{
    background-image: linear-gradient(green, yellow);
    background-repeat: no-repeat;
    text-align: center;
    color: black;

}
.triangle{
    display: flex;
    flex-direction: column; 
    width: 30%;
    margin: 10px;
    align-items: center;


}
.elementary{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 10px;
    align-items: center;
}
.musicE{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 10px;
    align-items: center;
}
.polygon{
    display: flex;
    flex-direction: column; 
    width: 30%;
    margin: 10px;
    align-items: center;


}
h2{
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
    
    
}
.app{
    display: flex;
    flex-direction: column; 
    width: 30%;
    margin: 10px;
    align-items: center;

}
.total{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    margin: 10px;
}
.right{
    display: flex;
    width: 55%;
    flex-direction: column;

}
.ab{
    display: flex;
    flex-direction: row;
}
h3{
    margin: 10px;

}
h4{
    margin-top: 10px;
    margin-bottom: 10px;
}
.explain{
    margin: 10px;
    margin-left: 20px;
}
.left{
    display: flex;
    flex-direction: column;
}
.java{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.ElementaryE{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.calculator{
    width: 300px;
}

.yu{
    width: 200px;
}
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    height: 200px;
    z-index: 100;

  }

.stick{
    position:sticky;
    top: 0;
    left: 40;
    width: 50px;
  }
   

select{
display: flex;

    width: 400px;
    font-size: 25px;
}
.menu{

    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.inside{
    display: flex;
      flex-direction:  column;
    position: absolute;
    top: 250px;
    left: 45%;
    font-size: 20px;
}
.i{
    position: absolute;
    top: 800px;
    left: 47%;
    font-size: 30px;
    height: 100px; 
    width: 100px;
}
.homea{
    margin-right: 50px;
    font-size: 70px;
    background-color: blue;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    color: white;
}
.home{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}



.con{
    color: white;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 102;

  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  @media screen and (max-width: 980px) {
    .java{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .ElementaryE{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
    
  }
  .sticky{
      object-fit: cover;
  }
  @media screen and (max-width: 1110px) {
    .left{
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
    .cvP{
        margin-right: 0;
        margin-left: 0;

    }
    .right{
        font-size: 12px;
    }
    .ab{
        display: flex;
    flex-direction: column;
    align-items: right;


    }
  }
  @media screen and (max-width: 770px) {
    .total{
        display: flex;
        flex-direction: column;
        margin: 10px;
        align-items: center;
        flex-wrap: nowrap;

    }.ab{
        display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;

    }
    .inside{
        display: flex;
          flex-direction:  column;
        position: absolute;
        top: 250px;
        left: 43%;
        font-size: 20px;
    }
    .left{
        align-items: center;
    flex-wrap: nowrap;
      }
    .center{
        text-align: center;
    }
  }
  

  .one{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: baseline;

  }
  .submit{
    height: 30px;
    margin-left: 30px;
}
  @media screen and (max-width: 670px){
  .tt{
      width: 500px;
      
  }
  .inside{
      display: flex;
      left: 40%;

      flex-direction:  column;
      font-size: 20px;
  }
  .i{
      top: 100%;
  }
}

  @media screen and (max-width: 570px){
    .tt{
        width: 400px;
    }

  }

  @media screen and (max-width: 650px) {
    .profile{
        padding: 90px;
        width: 200px;
    }
    .hm{
        margin: 10px;
    }
    .ho{
        margin: 10px;

    }
    h1{
        margin: 10px;
        font-size: 20px;
    }
    select{
        display: flex;
        width: 250px;
        font-size: 20px;
    }
    .homea{
        margin-right: 50px;
        font-size: 50px;
        background-color: blue;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        color: white;
    }
    .menu{
        display:flex;
        flex-direction: column;
        align-items: center;

    }
    .java{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
  }
  .map{
      margin:20px;
      position: sticky;
      top: 0;
      text-align: left;
      z-index: 101;
      

    }

    .all {
        background-color: black;
    }
















    .feepopup{
        margin-top: 30px;
        position: sticky;
    }

    .feepopup .overlay {
        position:fixed;
        top:0px;
        left:0px;
        width:100vw;
        height:100vh;
        background: rgba(0,0,0,0.7);
        z-index:1;
        display: none;
        color: black;
    }
    .feepopup .content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0) ;
        background:#fff;
        width:450px;
        height:1100px;
        z-index: 2;
        text-align: center;
        padding:20px;
        box-sizing:border-box;
        color: black;

    }
    .feepopup .close-pop{
        cursor:pointer;
        position: absolute;
        right: 20px;
        background: white;
        color: black;

    }
    .feepopup.active .overlay{
        display:block;
        color: black;

    }
    .feepopup.active .content{
        transition: all 100ms ease-in-out;
        transform: translate(-50%, -50%) scale(1);
        color: black;

    }
    

    .searchbig{
        font-size: 20px;
        width: 400px;


    }

    .searchdiv li{
        font-size: 20px;
        margin-top:7px;
        background-color: white;
        border-radius: 3px 3px 3px 3px;
        
    }

    .searchdiv div:hover {
        background-color: yellow;
      }

      .programandD{
        background-size: cover;

        background-image: url("programmingi.jpg") ;

        background-position: center;
          
        width: 410px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        text-align: center;
      }

      .musicback{
        background-size: cover;

        background-image: url("music.jpg") ;

        background-position: center;
          
        width: 210px;
        height: 120px;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        text-align: center;
      }

      .munback{
        background-size: cover;

        background-image: url("mun.jpg") ;

        background-position: center;
          
        width: 210px;
        height: 120px;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        text-align: center;
      }
      .listofmystuff{
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

      }

      .listofmystuff div{
          margin: 30px;

          color: white;
          display:flex;
          text-align: center;
          justify-content:center;
          font-size: 25px;

      }

      .listofmystuff a{
        text-decoration: none;

      }


      .Websiteback{
        background-size: cover;

        background-image: url("programimage.jpg") ;

        background-position: center;
          
        width: 410px;
        height: 120px;
        justify-content: center;
        align-items: center;
      }

      .cvpage{
        background-size: cover;

        background-image: url("cvpage.jpg") ;

        background-position: center;
          
        width: 210px;
        height: 120px;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        text-align: center;
      }