* {
    font-family: Georgia, serif;
}
h1{
    /* margin-top: 300px; */
    text-align: center;
    color:blue;
}
.profile {
    padding: 115px;
    margin: 4px 2px;
    border-radius: 50%;
    background-size: 250px 240px;

   background-image: url("pexels-mitchell-luo-3762497.jpg") ;
}
.redback {
    background-image: linear-gradient(#FF5733,#F7DC6F);
    background-repeat: no-repeat;
    background-size: auto 600px;

}

.blueback{
    background-image: linear-gradient(#F7DC6F ,#FF5733);
    background-repeat: no-repeat;
    text-align: center;


}
.greenback{
    background-image: linear-gradient(green, yellow);
    background-repeat: no-repeat;
    text-align: center;

}
.triangle{
    display: flex;
    flex-direction: column; 
    width: 30%;
    margin: 10px;
    align-items: center;


}
.polygon{
    display: flex;
    flex-direction: column; 
    width: 30%;
    margin: 10px;
    align-items: center;


}
h2{
    font-size: 45px;
}
.app{
    display: flex;
    flex-direction: column; 
    width: 30%;
    margin: 10px;
    align-items: center;


}
.java{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.calculator{
    width: 300px;
}
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
  }

.stick{
    position:sticky;
    top: 0;
    left: 40;
    width: 50px;
  }
   

select{
display: flex;

    width: 400px;
    font-size: 25px;
}
.menu{

    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
a{
    margin-right: 50px;
    font-size: 70px;
    background-color: blue;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    color: white;
}
.home{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.tt{
    position: absolute;
    left: 25%;
}